body {
    background-color: rgba(1,1,1,0.75);
    cursor: default;
    user-select: none;
}
.wrapper {
    position: relative;
    width: 385px;
    height: 200px;
    margin: 50px auto;
    font-family: sans-serif;
    color: skyblue;
    margin-top: 20vh;
}

.time {
    font-size: 500%;
    width: 100%;
    margin: auto;
    text-align: right;
}

.time span {
    width: 80px;
    display: inline-block;
}

.controls {
    position: absolute;
    right: 0px;
    bottom: 25px;
}

button {
    height: 60px;
    width: 120px;
    font-size: 30%;
    cursor: pointer;
}

button:disabled {
    cursor: default;
}